// _base.scss

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: $background-color;
    color: $text-color;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

%message-box {
    padding: 1rem;
    border: 1px solid;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}
