// _variables.scss

// Colors
$primary-color: #e85d04;
$secondary-color: #f2a154;
$tertiary-color: #ffe5b4;
$background-color: #fffaf5;
$card-background-color: #fff3e0;
$text-color: #333;
$light-text-color: #fff;
