// main.scss



// Import abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';

// Import base
@import 'base/base';
@import 'base/typography';
@import 'base/animations';

// Import layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';

// Import components
@import 'components/buttons';
@import 'components/cards';

// Import pages
@import 'pages/home';
@import 'pages/recetas';
@import 'pages/contacto';

// Import themes
@import 'themes/theme';
