.hero-with-bg {
  background-image: url('../img/bienvenida.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  // Asegura que el texto sea legible sobre la imagen
  h1, p {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
}